body{
	background-color:red;
}

@media(min-width:1050px;){
	.facts2{
		display:none;
	}
@media(min-width:850px;){
	.facts3{
		display:none;
	}
}
@media(min-width:700px;){
	.facts4{
		display:none;
	}
}
@media(min-width:450px;){
	.facts5{
		display:none;
	}
}
@media(min-width:320px;){
	.facts6{
		display:none;
	}
}